<div class="d-flex justify-content-between">
  <div
    class="letter-tile text-center alert border-2 m-0"
    [ngClass]="
      isOutOfFocus
        ? 'alert-secondary border-secondary'
        : chosenLetterObj?.isTypedLetter
        ? 'alert-warning border-warning'
        : 'alert-primary border-primary'
    "
    *ngFor="let chosenLetterObj of chosenLetterArray"
  >
    <p>
      <span>{{ chosenLetterObj?.letter }}</span>
    </p>
  </div>
  <button
    class="btn letter-tile text-center m-0"
    [ngClass]="
      isOutOfFocus ? 'btn-secondary text-light' : 'btn-primary text-light'
    "
  >
    <i class="fa fa-refresh"></i>
  </button>
</div>
