<div
  *ngIf="timerStateModel.secondsRemaining > 0; else timeUp"
  class="progress"
  style="height: 40px;"
>
  <div
    class="progress-bar progress-bar-striped progress-bar-animated"
    role="progressbar"
    [ngStyle]="{ 'width.%': timerStateModel.percentageTimeRemaining }"
    [attr.aria-valuenow]="timerStateModel.percentageTimeRemaining"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    {{ timerStateModel.secondsRemaining }}
  </div>
</div>
<ng-template #timeUp>
  <div class="text-center display-6">Time Up!</div>
</ng-template>
