<div *ngIf="vm$ | async as vm" class="container p-2">
  <h1 class="text-center display-5">Letters Game</h1>

  <hr />

  <button
    *ngIf="vm.gameStateModel.isGameInactive"
    class="btn btn-primary w-100"
    (click)="onStartButtonClicked()"
  >
    Start Game
  </button>

  <button
    *ngIf="vm.gameStateModel.isGameActive"
    class="btn btn-secondary w-100"
    (click)="onResetButtonClicked()"
  >
    Reset
  </button>

  <hr />

  <chosen-letters
    [chosenLetterArray]="vm.chosenLetterArray"
    [gameState]="vm.gameStateModel.gameState"
    (shuffleChosenLettersEvent)="shuffleChosenLettersHandler()"
  ></chosen-letters>

  <hr />

  <div *ngIf="vm.gameStateModel.isGameActive">
    <letter-selector
      *ngIf="!vm.timerStateModel.isTicking"
      (letterTypeSelectedEvent)="letterTypeSelectedHandler($event)"
      (autoSelectChosenLettersEvent)="autoSelectChosenLettersHandler()"
    ></letter-selector>
    <countdown-timer
      *ngIf="vm.timerStateModel.isTicking"
      [timerStateModel]="vm.timerStateModel"
    ></countdown-timer>
    <hr />
  </div>

  <div *ngIf="vm.gameStateModel.isPlayingGame">
    <typed-letters
      [letters]="vm.typedLetters"
      [gameState]="vm.gameStateModel.gameState"
    ></typed-letters>
    <hr />
  </div>

  <div
    *ngIf="
      (vm.gameStateModel.isPlayingGame && vm.foundWordArray.length > 0) ||
      vm.gameStateModel.isViewScore
    "
  >
    <found-words [foundWordArray]="vm.foundWordArray"></found-words>
    <hr />
  </div>

  <div *ngIf="vm.gameStateModel.isViewScore">
    <score
      *ngIf="vm.timerStateModel.secondsRemaining === 0"
      [score]="vm.scoreModel"
    ></score>
  </div>
</div>
